@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
:root {
	--font-nunito: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
	cursor: default;
}

body {
	font-family: var(--font-nunito);
	background-color: #1f2f3d;
	color: #f1f1f1;
}

section {
	max-width: 1200px;
	margin: auto;
}

h1 {
	text-align: center;
}

p {
	font-weight: 200;
}

a {
	color: #f1f1f1;
	text-decoration: none;
}

button {
	padding: 0.5rem;
	background-color: #ffffff07;
	color: #f1f1f1;
	border: 1px solid #ffffff3f;
	border-radius: 0.5rem;
}

button:not(:last-child) {
	margin-right: 0.5rem;
}

button:hover {
	background-color: #ffffff10;
}

button:active {
	background-color: #ffffff20;
}

input {
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.navbar {
	margin: 1rem 0;
}
.navbar nav a,
.navbar nav span {
	text-decoration: none;
	padding: 0.5rem;
	color: #f1f1f1;
	transition: 0.2s;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}
.navbar nav a:hover {
	color: #f1f1f17f;
}

.navbar nav a.active,
.practice-list nav a.active {
	color: #cfcfff;
}

.cards {
	text-align: center;

	display: grid;
	margin: auto;
	gap: 2rem;
	grid-template-columns: repeat(3, minmax(150px, 300px));
	justify-content: center;
}

.card {
	padding: 0.5rem;
	background-color: #ffffff07;
	border: 1px solid #ffffff1f;
	border-radius: 0.5rem;
	position: relative;
}

.card .badge {
	position: absolute;
	top: -0.25rem;
	right: 1rem;
	color: #222;
}

.card .badge > span {
	width: 20px;
	aspect-ratio: 1;
	display: inline-block;
	padding: 0.5rem;
	align-items: center;
	background-color: orangered;
	position: relative;
}

.card .badge > span::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 0;
	border-top: 10px solid orangered;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
}

.card.product .image {
	height: 200px;
	padding: 0.5rem 0;
	background-color: white;
	border-radius: 0.25rem 0.25rem 0 0;
	overflow: hidden;
}
.card.product .image img {
	max-width: 100%;
	height: 100%;
}

imput {
	margin-bottom: 3rem;
}

/* practice list */
.practice-list {
	position: relative;
}
.practice-list:hover ul {
	visibility: visible;
	opacity: 1;
}
.practice-list ul {
	visibility: hidden;
	opacity: 0;
	width: 200px;
	padding: 0;
	background-color: #1f2f3d;
	border: 1px solid #ffffff7f;
	border-radius: 0.5rem;
	list-style-type: none;
	position: absolute;
	left: 1rem;
	top: 50%;
	z-index: 10;
	transition: opacity 400ms ease;
}

.practice-list ul li {
	padding: 0.5rem 0;
}

/* media */

@media screen and (max-width: 960px) {
	section {
		margin: 0 1rem;
	}
	.cards {
		grid-template-columns: repeat(2, minmax(150px, 300px));
	}
}

@media screen and (max-width: 720px) {
	.cards {
		grid-template-columns: 1fr;
	}
}
