@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
:root {
	--font-nunito: "Nunito", sans-serif;
}

body {
	font-family: var(--font-nunito);
	background-color: #1f2f3d;
	color: #f1f1f1;
}
section {
	max-width: 1200px;
	margin: auto;
}

p {
	font-weight: 200;
}

.navbar nav a {
	text-decoration: none;
	padding: 0.5rem;
	color: #f1f1f1;
	transition: 0.2s;
}
.navbar nav a:hover {
	color: #f1f1f17f;
}

.cards {
	text-align: center;

	display: grid;
	margin: auto;
	gap: 2rem;
	grid-template-columns: repeat(3, minmax(150px, 250px));
	justify-content: center;
}

.card {
	padding: 0.5rem;
	background-color: #ffffff07;
	border: 1px solid #ffffff1f;
	border-radius: 0.5rem;
	position: relative;
}

.card .badge {
	position: absolute;
	top: -0.25rem;
	right: 1rem;
	font-size: 1.2rem;
	color: #222;
}

.card .badge > span {
	width: 20px;
	aspect-ratio: 1;
	display: inline-block;
	padding: 0.5rem;
	align-items: center;
	background-color: orangered;
	position: relative;
}

.card .badge > span::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 0;
	border-top: 10px solid orangered;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
}

imput {
	margin-bottom: 3rem;
}

@media screen and (max-width: 960px) {
	section {
		margin: 0 1rem;
	}
	.cards {
		grid-template-columns: repeat(2, minmax(150px, 250px));
	}
}

@media screen and (max-width: 720px) {
	.cards {
		grid-template-columns: 1fr;
	}
}
